<section class="flex justify-center items-center flex-wrap w-full min-h-[40vw] text-center text-2xl text-rose-900">
  <a class="w-full bg-rose-200 p-4 rounded-2xl capitalize hover:shadow-rose-300 hover:shadow-lg hover:-translate-y-4" title="music" href="/music">music</a>
  <a class="w-full bg-rose-200 p-4 rounded-2xl capitalize hover:shadow-rose-300 hover:shadow-lg hover:-translate-y-4" title="album" href="/album">album</a>
  <a class="w-full bg-rose-200 p-4 rounded-2xl capitalize hover:shadow-rose-300 hover:shadow-lg hover:-translate-y-4" title="team" href="/team">team</a>
</section>