@import url("vazirmatn/Vazirmatn-font-face.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rose-100 bg-opacity-60;
  }

  *,
  *::after,
  *::before {
    direction: rtl;
    font-family: "vazirmatn", "Roboto", sans-serif;
    @apply transition-all ease-linear;
  }

  .icon {
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    @apply hover:-translate-y-1
  }

  .icon.small{
    @apply p-1 m-1 w-7 sm:m-2 sm:p-2 bg-rose-100 lg:w-14 sm:w-10 rounded-full hover:shadow-lg hover:shadow-rose-200 
  }

  .timeline .timeline-roller{
    @apply opacity-0
  }
  
  .timeline:hover .timeline-roller{
    @apply opacity-100
  }
}
