<header class="z-20 absolute w-11/12 h-1/6 bg-rose-100 left-1/2 -translate-x-1/2 mt-6 rounded-full flex justify-center items-center shadow-lg shadow-rose-200">
  <h1 title="<%= name %>" class="text-4xl text-rose-900 font-medium sm:text-6xl lg:text-7xl 2xl:text-8xl max-sm:pl-8">
    <a href="/"><%= name %></a>
  </h1>
  <a title="لوگو" class="absolute left-2 top-1/2 -translate-y-1/2 w-24 sm:w-28 lg:w-30 2xl:w-48" href="/">
    <img class="rounded-full hover:shadow-rose-200 hover:shadow-lg" src="logo.jpg" alt="<%= name %>" />
  </a>
</header>